body {
  margin: 0;
  background: #ffffff;
  color: #111;
  font-family: 'Inter', sans-serif;
}

/* HEADER */
.header {
  padding: 40px 0 20px;
  text-align: center;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  letter-spacing: 6px;
  font-weight: 500;
  text-transform: uppercase;
}

/* GRID */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 40px 80px;
}

.gallery img {
  width: 99%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transform: scale(1.03);
  transition: 
    opacity 0.8s ease,
    transform 1.2s ease;
}

.gallery img.loaded {
  opacity: 1;
  transform: scale(1);
}

.gallery img:hover {
  transform: scale(1.02);
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.95);
  display: none;
  align-items: center;
  justify-content: center;
}

.lightbox img {
  max-width: 85%;
  max-height: 85%;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: 'Playfair Display', serif;
}

footer a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
  letter-spacing: 1px;
}

/* PÁGINAS INTERNAS */
.page {
  max-width: 700px;
  margin: 120px auto;
  padding: 0 20px;
}

.page h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

/* ABOUT */
.about p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* FORMULARIO */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact input,
.contact textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  background: transparent;
}

.contact textarea {
  min-height: 100px;
}

.contact button {
  background: none;
  border: 1px solid #111;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.contact button:hover {
  background: #111;
  color: #fff;
}